Django==4.2.14
django-bootstrap-v5==1.0.11
django-bootstrap5==24.2
django-cors-headers==4.4.0
django-redis==5.4.0
djangorestframework==3.15.2
graphene==3.3
graphene-django==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
redis==5.0.8
