<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="sytles/cdc.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Chad's Projects</title>
</head>
<body>
    <h1 class="cdc">yadda yadda yadda</h1>
    <ul>
        <li>eanie</li>
        <li>meanie</li>
        <li>minie</li>
        <li>larry</li>
        <li>curly</li>
        <li>moe</li>
    </ul>
</body>
</html>